@{
  Layout = "_Layout";
}
<hr />
<h2>Add Student</h2>
@model OpalCollege.Models.Student

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger"})</p>
<p>@Html.ValidationMessageFor(model => model.EnrollDate, "", new { @class = "text-danger"})</p>

@using (Html.BeginForm())
{
  <label>Student Name: </label>
  @Html.TextBoxFor(model => model.Name)
<br>
<br>
  <label>Enrollment Date: </label>
  @Html.TextBoxFor(model => model.EnrollDate, new { type="date" })
<br>
<br>
  <label>Prospective Major: </label>
  @Html.DropDownList("DepartmentId")
<br>
<br>
  <input type="submit" value="Add" />
}