@{
  Layout = "_Layout";
}

@using OpalCollege.Models
@model OpalCollege.Models.Department

Department Details:

<h3>@Html.DisplayNameFor(model => model.Subject): @Html.DisplayFor(model => model.Subject)</h3>

@if (Model.JoinCourses.Count == 0)
{
  <p>This Department has no Courses.</p>
}
else
{
  <h4>Courses in this Department:</h4>
  <ul>
  @foreach (DepartmentCourse join in Model.JoinCourses)
  {
    <li>@Html.ActionLink($"{join.Course.Title}", "Details", "Courses", new { id = join.Course.CourseId})
      @using (Html.BeginForm("DeleteJoin", "Courses"))
      {
        @Html.Hidden("joinId", @join.DepartmentCourseId)
        <input type="submit" value="Remove Course from Department"/>
      }
    </li>
  }
  </ul>
}
