@{
  Layout = "_Layout";
  List<Course> allCourses = ViewBag.thisDeptsCourses;
}

@using OpalCollege.Models
@model OpalCollege.Models.Department

Department Details:

<h3>@Html.DisplayNameFor(model => model.Subject): @Html.DisplayFor(model => model.Subject)</h3>


@foreach (Course course in allCourses)
{
  <p>@Html.ActionLink($"{course.Title}", "Details", new { id = course.CourseId })</p>
}
@Html.ActionLink("Add course to this department", "Create", "Courses")
<br>
@Html.ActionLink("Edit this department", "Edit", new { id = Model.DepartmentId })

